<!DOCTYPE html>

<html ng-app="agendaApp">
<head>
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link href="css/icon.css" rel="stylesheet">
    <title>Agenda de Contatos</title>
    
</head>

<body ng-controller="criarContatoController">
    <nav class="nav-extended">
        <div class="nav-wrapper blue">
            <ul id="nav" class="left">
                <li><a href="home.html"><i class="material-icons">keyboard_return</i></a></li>
            </ul>
            <a href="#" class="brand-logo center">Agenda</a>
        </div>
    </nav>
    
    <div class="container">
        <section id="Subtitulo">
            <div class="row">
                <div class="col s12">
                    <h5 class="center-align">Criar contato</h5>
                </div>
            </div>
        </section>
        
        
        
        <section id="register">
            
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Ex: (32) 99000-0000" id="telefone" type="text" class="validate">
                    <label for="senha">Telefone: </label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Ex: João Paulo de Melo" id="nome" type="text" class="validate">
                    <label for="senha">Nome: </label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="joaodasilva@hotmail.com "id="email" type="email" class="validate">
                    <label for="email">Email: </label>
                </div>
            </div>
            
            <div class="row">
                
                <div class="input-field col s12">
                    <select id="tipo" ng-model="id" ng-options="tipo.id as tipo.nome for tipo in tipos">
                    </select>
                    <label>Selecione um um tipo</label>
                </div>
            </div>        
            
            <section id="action">
                <div class="row">
                    <div class="col s6 push-s2 push-m3">
                        <a id="back" class="waves-effect btn terciary" href="home.html">Voltar</a>
                    </div>
                    <div class="col s6">
                        <a id="gravar" class="waves-effect btn primary" href="#!">Gravar</a>
                    </div>
                </div>
                
            </section>
            
        </section>
    </div>
    <script type="text/javascript" src="js/vendor/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/vendor/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/vendor/maskedinput.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/vendor/materialize.min.js"></script>
    <script type="text/javascript" src="js/criar_contato.js"></script>
    
</body>
</html>
