<!DOCTYPE html>
<html ng-app="agendaApp">
<head>
    <meta charset="utf-8"/> 
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="./css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="./css/icon.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <title>Agenda de Contatos</title>
</head>
<body ng-controller="contatosController">
    <nav class="nav-extended">
        <div class="nav-wrapper blue">
            <ul id="nav" class="left">
                <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">reorder</i></a></li>
            </ul>
            <a href="#" class="brand-logo center">Agenda</a>
            <ul id="nav" class="right">
                <li><a class="modal-trigger" href="#confirm"><i class="material-icons">power_settings_new</i></a></li>
            </ul>
        </div>
        <div class="nav-content blue">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="#Pessoal">Pessoal</a></li>
                <li class="tab"><a href="#Empresarial">Empresarial</a></li>
            </ul>
        </div>
    </nav>
    
    <ul id="slide-out" class="sidenav">
        <li><div class="user-view">
            <div class="background yellow lighten-1 z-depth-2"></div>
            <a href="#user"><img class="circle" src="img/avatar.png"></a>
            <a href="#name"><span class="black-text name">Agenda de contatos</span></a>
            <a href="#email"><span class="black-text email">{{user.user.email}}</span></a>
        </div></li>
        <li><a href="editar.html"><i class="material-icons">account_circle</i>Alterar usuário</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Opções</a></li>
        <li><a class="waves-effect modal-trigger" href="#confirm"><i class="material-icons">power_settings_new</i>Sair</a></li>
    </ul>
    
    <main>
        <div id="Pessoal" class="col s12">
            <div class="container">
                <div class="col s12 m8 offset-m2 l6 offset-l3">
                    <div class="card-panel grey lighten-5 z-depth-1" ng-repeat="contato in pessoal">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <img src="img/avatar.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                            </div>
                            <div class="col s9">
                                <span class="black-text">
                                    <b>Nome:</b> {{contato.nome}}<br>
                                    <b>Telefone:</b> {{contato.telefone}}<br>
                                    <b>Tipo:</b> {{contato.tipo.nome}}
                                </span>
                            </div>
                        </div>
                        <div class="card-action">
                            <button id="remover" class="btn waves-effect waves-light red" name="action" value="{{contato.id}}">Remover
                                <i class="material-icons right">delete</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="Empresarial" class="col s12">
            <div class="container">
                <div class="col s12 m8 offset-m2 l6 offset-l3">
                    <div class="card-panel grey lighten-5 z-depth-1" ng-repeat="contato in empresarial">
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <img src="img/avatar.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                            </div>
                            <div class="col s9">
                                <span class="black-text">
                                    <b>Nome:</b> {{contato.nome}}<br>
                                    <b>Telefone:</b> {{contato.telefone}}<br>
                                    <b>Tipo:</b> {{contato.tipo.nome}}
                                </span>
                            </div>
                        </div>
                        <div class="card-action">
                                <button id="remover" class="btn waves-effect waves-light red" name="action" value="{{contato.id}}">Remover
                                    <i class="material-icons right">delete</i>
                                </button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-action-btn">
            <a href="criar_contato.html" class="btn-floating btn-large green pulse">
                <i class="large material-icons">add</i>
            </a>
        </div>
    </main>
    
    <div id="confirm" class="modal">
        <div class="modal-content">
            <h4>Sair</h4>
            <p>Deseja mesmo sair?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Não</a>
            <a href="#" id="logout" class="modal-close waves-effect waves-green btn-flat">Sim</a>
        </div>
    </div>
    
    <script type="text/javascript" src="./js/vendor/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/vendor/angular.min.js"></script>
    <script src="app/app.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="./js/vendor/materialize.min.js"></script>
    <script type="text/javascript" src="./js/config.js"></script>
    <script type="text/javascript" src="./js/home.js"></script>
</body>
</html>
